.Chat {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 20px;
  gap: 1rem;
}

.Chat-Button {
  display: flex;
  justify-content: right;
  gap: 20px;
  width: 100%;
}

.Chat-Display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  gap: 1rem;
}

.Message-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: slideIn 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.User-Message {
  align-self: flex-end;
  padding: 10px;
  max-width: 70%;
  margin-bottom: 10px;
}

.Assistant-Message {
  align-self: flex-start;
  padding: 10px;
  max-width: 70%;
  margin-bottom: 10px;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Chat-Display table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.Chat-Display th,
.Chat-Display td {
  border: 1px solid #2074d4;
  padding: 8px;
  text-align: left;
}

.Chat-Display th {
  background-color: #2074d4;
  font-weight: bold;
}
