.AppBar {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.AppBar-Elements {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.AppBar-Elements-Buttons {
  position: absolute;
}
