.inputWindow {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 430px;
  padding-left: 15px;
}
.inputWindow .MuiTextField-root {
  flex-grow: 1;
  margin-right: 10px;
}
.inputWindow .MuiIconButton-root {
  flex-shrink: 0;
}
