.input-window {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.input-container {
  display: flex;
  align-items: center;
}

.MuiTextField-root {
  flex: 1;
}

.button-container {
  display: flex;
  align-items: center;
  /* Adjust this value to control the spacing between the TextField and the SendIcon */
}
