.inputWindow {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.inputWindow .MuiTextField-root {
  flex-grow: 1;
}
.inputWindow .MuiIconButton-root {
  flex-shrink: 0;
}
