@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

#root {
  flex: 1 1 auto;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .form-group {
    @apply flex flex-col w-full gap-2;
  }

  .error {
    @apply text-red-500;
  }

  .input {
    @apply border border-solid border-gray-500 rounded-sm py-1 px-2;
  }

  .main {
    max-height: calc(100vh - 8rem);
  }
}
